.page-container {
  padding: 24px;
}

.page-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
}

table {
  width: 100%;
}

.mat-column-actions {
  width: 160px;
  text-align: center;
}
