<h2 mat-dialog-title>Delete User</h2>

<mat-dialog-content>
  <p>
    Are you sure you want to delete
    <strong> {{ user.firstName }} {{ user.lastName }} </strong>
    ?
  </p>

  <p>This action cannot be undone.</p>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-stroked-button type="button" (click)="cancel()">Cancel</button>

  <button
    mat-raised-button
    color="warn"
    type="button"
    (click)="confirmDelete()"
  >
    Delete
  </button>
</mat-dialog-actions>
